.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    transition: opacity .5s;
}

[v-cloak] :not(#loading) {
    display: none !important;
}

[v-cloak] > #loading {
    display: block;
    padding: 1em;
}

#loading {
    display: none;
}